.poster-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.poster-card-image {
    width: 200px;
    height: 300px;
    border-radius: 8px;
    object-fit: cover;
    overflow: hidden;
}